/* Estilos gerais para elementos html */
body{
    font: 300 18px Oswald;
    width: 100%;
    height: 100%;
}

nav{
    position: relative;
    z-index: 1000;
}

table{
    border-collapse: separate;
    border-spacing: 0 100px;
    margin-top: -100px;
}

p{
    font: 400 22px Oswald;
}

/* ID's Definidos para uso em certas divs */
#logotipo{
    /* Id para imagem logotipo que fica na barra de navegação */
    padding-top: 10px;
    height: 60px;
    width: 200px;
}

#profile{
    /* Id para imagem que fica na primeira pagina do slider principal do index */
    width: 300px;
    height: 300px;
}

#conteudo{
    /* Id para div principal da pagina, onde será apresentado o conteúdo, por pardrão 1100px */
    width: 100%;
    height: 1100px;
}

#foto{
    /* Id para imagem que fica na pagina about quando for exibida para desktop */
    width: 30%;
    height: 100%;
    position: relative;
    float: left;
}

#fotoMobile{
    /* Id para imagem que fica na pagina about quando for exibida para mobile */
    padding: 15px;
    border-radius: 45px 45px 45px;
    width: 100%;
    height: 600px;
    position: relative;
}

#artigo{
    /* Id para div que contem texto para apresentação de dados */
    position: relative;
    float: right;
    font: 400 22px Oswald;
}

#text-background{ /* Esse ID é para divs de alerta do site exemplo as especificações na pagina about */
    padding: 15px;
    margin: 15px;
    opacity: .6;
}

/* Classes para uso do Site */
.gitIcon{
    width: 100%;
    height: 100%;
}

.gitImage{
    width: 40px;
    height: 50px;
    padding-top: 15px;
    margin: auto;
}

.project{
    left: 45%;
    padding-left: 15px;
    height: 40px;
    width: 120px;
    background: #212121;
    text-align: center;
    position: absolute;
    z-index: 8;
    display: flex;
}

.project a{
    padding-top: 5px;
    display: block;
    color: #999;
    font: 400 22px Oswald;
}

.project:hover a{
    color: #fff;
}

.project:hover{
    background: #546e7a;
    color: #fff;
}

.proj1{
    /* Classe para projetos que ficam em exibição do lado esquerdo da tabela */
    margin: 0 150px;
    width: 400px;
    height: 300px;
    position: relative;
    float: left;
}

.proj2{
    /* Classe para projetos que ficam em exibição do lado direito da tabela */
    right: 150px;
    width: 400px;
    height: 300px;
    position: relative;
    float: right;
}

.redondo{
    /* Classe para arredondar cantos de uma Div */
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.centralizar{
    /* Classe para centralizar Elementos de projetos - Método trocado por outro (Atualmente não usado)*/
    width: 300px;
    height: 400px;
    position:absolute;
    top:40%;
    left:30%;
    right: 60%;
    margin-top:-50px;
    margin-left:-50px;
    margin-right: 50px;
}

.bradius{
    /* deixa bordas arredondadas */
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

/* Multiplos Eslilos */
.project,.project:hover{
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
}

